#navbar {
    flex-direction: column;
    align-items: center;
}

#navbar ul li a {
    padding: 10px 6px;
    font-size: 10px;
}

#btn {
    padding: 8px;
    margin: 0px;
    font-size: 8px;
}

#home h1 {
    font-size: 35px;
    text-align: center;
}

#home p {
    font-size: 20px;
    text-align: center;
}

#service {
    flex-direction: column;
}

.items {
    padding: 10px 0px;
}

.items img {
    padding: 6px;
}


.items h3,
.items p {
    margin-top: 15px;
    font-size: 10px;
}


#work img {
    width: 200px;
    height: 195px;
    margin: 0px 5px;
}

#work-section h1,
#service-section h1,
#about h1,
#contact-section h1 {
    font-size: 20px;
}

#work-section,
#service-section {
    padding: 10px 0px;
}

#work-section p {
    font-size: 10px;
    text-align: center;
}

#about-section {
    padding: 15px 0px;
}

#about {
    padding: 30px 20px;
    width: 60%;
}

#about p {
    font-size: 10px;
    text-align: justify;
}

#contact {
    flex-direction: column-reverse;
    width: 75%;
    padding: 30px 25px;
    margin: 15px;
}

#contact-form input[type='text'],
#contact-form input[type='email'],
#contact-form textarea {
    width: 75%;
    margin-top: 5px;
    padding: 5px;
}

#contact-form label {
    text-align: center;
}

input[type='submit'] {
    width: 77%;
}